@import "Base/base";

blockquote
{
    border-left: 2px solid $color2;
    padding-left: $spacing-normal; 
}

.box
{
    background: $color3;
    padding: $spacing-normal;

    > p
    {
        margin: 0;
    }
}

.rounded-box
{
    // this will inherit all the above styles 
    @extend .box;
    // calling the vendor function 
    @include vendor(border-radius, $spacing-normal);
}