html{
    background: black;
    color:white;
    display: inline-block;
}


h1, h2, h3{
    color: red !important;
    font-size: 14px;
}
h1{

    color: blue;
    border: 1px solid green;
   
}

p{
    color: white;
    margin-left: 25px;
}

strong
{
    font-weight: normal;
    font-style: italic;
}

em
{
    font-style: normal;
}

#specialHeading
{
    background: pink;
}

.NavBar
{
    background: blue;
}

> symbol will select only the span which is direct child of base div 


.NavBar span
{
    color: brown;
}

.BigPadding
{
    padding: 50px;
}
a{
    color: green;
}

a:hover
{
    color: red;
}

a:visited
{
    color: brown;
}